@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F0F4F8;
}

.slick-slide>div{
    margin: 0px 10px;
}

.slick-prev.custom-prev-arrow,
.slick-next.custom-next-arrow {
  color: red !important;
  font-size: 24px !important;
  margin-left: -30px !important;
}

.slick-next.custom-next-arrow {
  color: blue !important;
  font-size: 24px !important;
  margin-right: -30px !important;
}